<!doctype html>
<html lang="en">

<head>
    <title>Templates Html5 Css3 JS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- seo -->
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- react libraries -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
                 <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
             -->

    <!-- external css -->
    <link rel="stylesheet" href="template.css">

    <!-- external js -->
    <script src="template.js"></script>
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Anasayfa <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SSS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Login</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Register</a>
                            <a class="dropdown-item" href="#">Login</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Arama...</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- header start -->
    <header>
        <div class="jumbotron">
            <div class="container">
                <div style="padding-top:12rem; padding-left:10rem; width:100%; ">
                    <div id="header_all">
                        <h1 id="header_h1" class="display-1 text-center uppercase">One Page</h1>
                        <p id="header_p1" class="text-center text-capitalize">Project One Pages</p>
                    </div>
                </div>
                < </div>
            </div>
    </header>

    <!-- main start -->
    <main>
        <!-- section1 -->

        <p class="display-4 text-center uppercase mt-5">Şirket Politikası</p>
        <hr>
        <section id="section1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <i style="color:blue;" class="fa-solid fa-route"></i>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="col-md-3">
                        <i style="color:rgb(140, 255, 0);" class="fa-solid fa-signs-post"></i>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="col-md-3">
                        <i style="color:rgb(252, 43, 127);" class="fa-solid fa-building"></i>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    <div class="col-md-3">
                        <i style="color:rgb(48, 37, 42);" class="fa-solid fa-chart-pie"></i>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div>
            </div>
        </section>


        <p class="display-4 text-center uppercase mt-5 mb-3">Ürünler</p>
        <hr>
        <!-- section2 -->
        <section id="section2 mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <img class="card-img-top" src="img/desk-gf129dc37c_1920.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title  line-clamp-1">Html5 dersleri içerikleri</h4>
                                <p class="card-text line-clamp-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolore fugiat soluta aliquam fuga optio dicta rem labore molestias nesciunt a
                                    doloribus unde iste minus ratione, doloremque at eum voluptatem ipsum!
                                    Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt voluptatibus
                                    delectus assumenda id recusandae enim temporibus praesentium pariatur nisi
                                    voluptates dolor non? Eum recusandae debitis deserunt! Nisi nostrum perspiciatis
                                    eaque!</p>

                                <p>
                                    <a class="btn btn-link btn-sm" data-bs-toggle="collapse" href="#contentId"
                                        aria-expanded="false" aria-controls="contentId">
                                        Show
                                    </a>
                                </p>
                                <div class="collapse" id="contentId">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fugiat soluta
                                        aliquam fuga optio dicta rem labore molestias nesciunt a doloribus unde iste
                                        minus ratione, doloremque at eum voluptatem ipsum!
                                        Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt
                                        voluptatibus delectus assumenda id recusandae enim temporibus praesentium
                                        pariatur nisi voluptates dolor non? Eum recusandae debitis deserunt! Nisi
                                        nostrum perspiciatis eaque!</p>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card  mb-3">
                            <img class="card-img-top" src="img/workspace-gd310de3ef_1920.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title  line-clamp-1">Html5 dersleri içerikleri</h4>
                                <p class="card-text line-clamp-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolore fugiat soluta aliquam fuga optio dicta rem labore molestias nesciunt a
                                    doloribus unde iste minus ratione, doloremque at eum voluptatem ipsum!
                                    Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt voluptatibus
                                    delectus assumenda id recusandae enim temporibus praesentium pariatur nisi
                                    voluptates dolor non? Eum recusandae debitis deserunt! Nisi nostrum perspiciatis
                                    eaque!</p>

                                <p>
                                    <a class="btn btn-link btn-sm" data-bs-toggle="collapse" href="#contentId2"
                                        aria-expanded="false" aria-controls="contentId2">
                                        Show
                                    </a>
                                </p>
                                <div class="collapse" id="contentId2">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fugiat soluta
                                        aliquam fuga optio dicta rem labore molestias nesciunt a doloribus unde iste
                                        minus ratione, doloremque at eum voluptatem ipsum!
                                        Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt
                                        voluptatibus delectus assumenda id recusandae enim temporibus praesentium
                                        pariatur nisi voluptates dolor non? Eum recusandae debitis deserunt! Nisi
                                        nostrum perspiciatis eaque!</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card  mb-3">
                            <img class="card-img-top" src="img/student-g545712b07_1920.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title  line-clamp-1">Html5 dersleri içerikleri</h4>
                                <p class="card-text line-clamp-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolore fugiat soluta aliquam fuga optio dicta rem labore molestias nesciunt a
                                    doloribus unde iste minus ratione, doloremque at eum voluptatem ipsum!
                                    Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt voluptatibus
                                    delectus assumenda id recusandae enim temporibus praesentium pariatur nisi
                                    voluptates dolor non? Eum recusandae debitis deserunt! Nisi nostrum perspiciatis
                                    eaque!</p>

                                <p>
                                    <a class="btn btn-link btn-sm" data-bs-toggle="collapse" href="#contentId3"
                                        aria-expanded="false" aria-controls="contentId3">
                                        Show
                                    </a>
                                </p>
                                <div class="collapse" id="contentId3">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fugiat soluta
                                        aliquam fuga optio dicta rem labore molestias nesciunt a doloribus unde iste
                                        minus ratione, doloremque at eum voluptatem ipsum!
                                        Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt
                                        voluptatibus delectus assumenda id recusandae enim temporibus praesentium
                                        pariatur nisi voluptates dolor non? Eum recusandae debitis deserunt! Nisi
                                        nostrum perspiciatis eaque!</p>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card  mb-3">
                            <img class="card-img-top" src="img/stairs-gdf7654e4e_1920.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title  line-clamp-1">Html5 dersleri içerikleri</h4>
                                <p class="card-text line-clamp-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolore fugiat soluta aliquam fuga optio dicta rem labore molestias nesciunt a
                                    doloribus unde iste minus ratione, doloremque at eum voluptatem ipsum!
                                    Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt voluptatibus
                                    delectus assumenda id recusandae enim temporibus praesentium pariatur nisi
                                    voluptates dolor non? Eum recusandae debitis deserunt! Nisi nostrum perspiciatis
                                    eaque!</p>

                                <p>
                                    <a class="btn btn-link btn-sm" data-bs-toggle="collapse" href="#contentId4"
                                        aria-expanded="false" aria-controls="contentId4">
                                        Show
                                    </a>
                                </p>
                                <div class="collapse" id="contentId4">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fugiat soluta
                                        aliquam fuga optio dicta rem labore molestias nesciunt a doloribus unde iste
                                        minus ratione, doloremque at eum voluptatem ipsum!
                                        Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt
                                        voluptatibus delectus assumenda id recusandae enim temporibus praesentium
                                        pariatur nisi voluptates dolor non? Eum recusandae debitis deserunt! Nisi
                                        nostrum perspiciatis eaque!</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card  mb-3">
                            <img class="card-img-top" src="img/computer-g410a0840b_1920.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title  line-clamp-1">Html5 dersleri içerikleri</h4>
                                <p class="card-text line-clamp-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolore fugiat soluta aliquam fuga optio dicta rem labore molestias nesciunt a
                                    doloribus unde iste minus ratione, doloremque at eum voluptatem ipsum!
                                    Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt voluptatibus
                                    delectus assumenda id recusandae enim temporibus praesentium pariatur nisi
                                    voluptates dolor non? Eum recusandae debitis deserunt! Nisi nostrum perspiciatis
                                    eaque!</p>

                                <p>
                                    <a class="btn btn-link btn-sm" data-bs-toggle="collapse" href="#contentId5"
                                        aria-expanded="false" aria-controls="contentId5">
                                        Show
                                    </a>
                                </p>
                                <div class="collapse" id="contentId5">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fugiat soluta
                                        aliquam fuga optio dicta rem labore molestias nesciunt a doloribus unde iste
                                        minus ratione, doloremque at eum voluptatem ipsum!
                                        Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt
                                        voluptatibus delectus assumenda id recusandae enim temporibus praesentium
                                        pariatur nisi voluptates dolor non? Eum recusandae debitis deserunt! Nisi
                                        nostrum perspiciatis eaque!</p>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card  mb-3">
                            <img class="card-img-top" src="img/desk-gf129dc37c_1920.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title  line-clamp-1">Html5 dersleri içerikleri</h4>
                                <p class="card-text line-clamp-5">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolore fugiat soluta aliquam fuga optio dicta rem labore molestias nesciunt a
                                    doloribus unde iste minus ratione, doloremque at eum voluptatem ipsum!
                                    Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt voluptatibus
                                    delectus assumenda id recusandae enim temporibus praesentium pariatur nisi
                                    voluptates dolor non? Eum recusandae debitis deserunt! Nisi nostrum perspiciatis
                                    eaque!</p>

                                <p>
                                    <a class="btn btn-link btn-sm" data-bs-toggle="collapse" href="#contentId6"
                                        aria-expanded="false" aria-controls="contentId6">
                                        Show
                                    </a>
                                </p>
                                <div class="collapse" id="contentId6">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fugiat soluta
                                        aliquam fuga optio dicta rem labore molestias nesciunt a doloribus unde iste
                                        minus ratione, doloremque at eum voluptatem ipsum!
                                        Illo laborum totam quae quas, consequatur, dolore voluptatem nesciunt
                                        voluptatibus delectus assumenda id recusandae enim temporibus praesentium
                                        pariatur nisi voluptates dolor non? Eum recusandae debitis deserunt! Nisi
                                        nostrum perspiciatis eaque!</p>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <h1> profile iş tanımı </h1>
    </main>

    <!-- footer start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-3">
                    <address>
                        <div> <a href="mailto:xyz@com.tr">xyz@com.tr</a> </div>
                        <div> <a href="tel:+90 000  00 00">+90 000 00 00 </a> </div>
                    </address>
                    <div class="social">
                        <a href="https://www.facebook.com" target="_blank"><i style="color: blue;"
                                class="fa-brands fa-facebook-square"></i>Facebook</a>
                        <a href="https://www.linkedin.com" target="_blank"><i style="color: lightblue;"
                                class="fa-brands fa-linkedin"></i>
                            Linkedin</a>
                        <a href="https://www.instagram.com" target="_blank"><i style="color: yellow;"
                                class="fa-brands fa-instagram-square"></i>
                            Instagram</a>
                    </div>
                </div>
                <div class="col-md-6 mt-3">SAĞ TARAF</div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>

</html>